.cabecalho__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

.superior__secao__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.videos__item {
    height: 303px;
    width: 280px;
    flex-grow: 1;
}

@media screen and (min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }
}